*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #CBCE91FF, #EA738DFF);
}
.container {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.container button {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 2rem;
}


.container button:hover {
    background-color: #a9a9a9;
}


#display {
    background-color: rgba(0, 0, 0, 0.75);
}



